{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bank account</h1>
    <strong>Account number:</strong> {{ bankAccount.accountNumber }}<br>
    <strong>Account balance:</strong> {{ bankAccount.accountBalance }}<br>
{% endblock %}
