<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <a href="{{ path('cqrs_bank') }}">Home</a>
        <hr />

        {% block body %}{% endblock %}
    </body>
</html>
